<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/elance?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="connection.pool_size">1</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="com/assignment/elance/models/Bidder.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/Employer.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/Job.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/Bid.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/Skill.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/Category.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/files.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/message.hbm.xml"/>
    <mapping resource="com/assignment/elance/models/milestone.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
